.banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: $header-height;
  // display: none;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
  .logo {
    width: 130px;
    display: flex;
    img {
      max-width: 100%;
    }
  }
  ul {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  a {
    color: white;
  }
}
