@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
.c-subdued {
  color: #7d8083;
}

.c-disabled {
  color: #a0a3a7;
}

.c-danger {
  color: #dc3545;
}

.c-warning {
  color: #ffc107;
}

.c-success {
  color: #28a745;
}

:root {
  font-family: "Poppins", sans-serif, "Franklin Gothic Medium", "Arial Narrow", Arial;
  font-size: 10px;
  font-weight: 500;
}

@media screen and (max-width: 500px) {
  :root {
    font-size: 5px;
  }
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 5rem;
  line-height: 5.8rem;
}

h2 {
  font-size: 3.5rem;
  line-height: 4.3rem;
}

h3 {
  font-size: 2rem;
  line-height: 2.8rem;
}

h4 {
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #7d8083;
  font-weight: 500;
}

p {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.fw-thin {
  font-weight: 300;
}

.fw-normal {
  font-weight: 500;
}

.fw-bold {
  font-weight: 700;
}

.fs-xxs {
  font-size: 1.2rem;
  line-height: 2rem;
}

.fs-xs {
  font-size: 1.3rem;
  line-height: 2.1rem;
}

.fs-sm {
  font-size: 1.4rem;
  line-height: 2.2rem;
}

.fs-md {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.fs-lg {
  font-size: 2rem;
  line-height: 2.8rem;
}

.fs-xl {
  font-size: 3.5rem;
  line-height: 4.3rem;
}

.fs-xxl {
  font-size: 5rem;
  line-height: 5.8rem;
}

*[class*="flex"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

*[class*="__jc-start"] {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

*[class*="__jc-end"] {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

*[class*="__jc-center"] {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

*[class*="__jc-between"] {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

*[class*="__jc-around"] {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

*[class*="__jc-evenly"] {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

*[class*="__ai-start"] {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

*[class*="__ai-end"] {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

*[class*="__ai-center"] {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

*[class*="__fd-col"] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

*[class*="__fd-row"] {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

*[class*="__fw-wrap"] {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

*[class*="__fw-nowrap"] {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.btn {
  font-family: "Poppins", sans-serif, "Franklin Gothic Medium", "Arial Narrow", Arial;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: 300;
  background-color: transparent;
}

.btn-white {
  padding: 1.2rem 2.8rem;
  background-color: #fff;
  color: black;
}

.btn-white:hover {
  -webkit-box-shadow: 0 5px 8px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 8px 4px rgba(0, 0, 0, 0.1);
}

.btn-gradient {
  padding: 1.2rem 3.5rem;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#5f55ea), to(#9646db));
  background: linear-gradient(to right, #5f55ea, #9646db);
}

.btn-gray {
  padding: 1.2rem 3.5rem;
  color: #202223;
  background: #f9f9ff;
  font-weight: 500;
  border: 1px solid #202223;
}

.card {
  padding: 4rem;
  -webkit-box-shadow: 0 0 5px black, 0.1;
          box-shadow: 0 0 5px black, 0.1;
  background-color: white;
}

.hero {
  display: block;
  padding-top: 7.2rem;
  background-image: url("../img/banner/home-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.hero__content-wrapper {
  max-width: 400px;
  color: white;
}

.hero__content-wrapper h1 {
  margin-bottom: 1.6rem;
}

.hero__content-wrapper .btn {
  margin-top: 3rem;
}

.hero__img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__img-wrapper img {
  max-height: 85vh;
  max-width: 400px;
}

@media screen and (max-width: 1000px) {
  .hero .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.features {
  display: block;
  padding: 6rem 0 20rem;
}

.features header {
  text-align: center;
  max-width: 600px;
  margin: 0 auto 2rem;
}

.features header h2 {
  margin-bottom: 1rem;
  font-weight: 500;
}

.features .features__items-wrapper {
  display: -ms-grid;
  display: grid;
  gap: 2.4rem;
  margin-top: 6rem;
  -ms-grid-columns: (minmax(230px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

.features .features__item {
  padding: 3.6rem 2.4rem;
  border-radius: 8px;
  background-color: #f8f8f8;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}

.features .features__item h3 {
  margin-top: 1.2rem;
  margin-bottom: 0.8rem;
}

.features .features__item p {
  color: rgba(0, 0, 0, 0.7);
}

.interior__primary {
  display: block;
  background-color: #f9f9ff;
  padding: 10rem 0;
}

.interior__primary .flex .img-wrapper {
  max-width: 500px;
}

.interior__primary .flex .img-wrapper img {
  width: 100%;
}

.interior__primary .flex .content-wrapper {
  padding: 3rem 0;
  max-width: 500px;
}

.interior__primary .flex .content-wrapper h2 {
  font-weight: 500;
  margin-bottom: 3rem;
}

.interior__primary .flex .content-wrapper p {
  color: #202223;
  margin-bottom: 3rem;
}

.interior__secondary {
  display: block;
  margin: 10rem 0;
}

.interior__secondary .flex .img-wrapper {
  max-width: 500px;
}

.interior__secondary .flex .img-wrapper img {
  width: 100%;
}

.interior__secondary .flex .content-wrapper {
  padding: 3rem 0;
  max-width: 500px;
}

.interior__secondary .flex .content-wrapper h2 {
  font-weight: 500;
  margin-bottom: 3rem;
}

.interior__secondary .flex .content-wrapper p {
  color: #202223;
  margin-bottom: 3rem;
}

.video-wrapper {
  display: block;
  margin-bottom: 10rem;
}

.video-wrapper .container {
  position: relative;
}

.video-wrapper .container .video {
  width: 100%;
}

.video-wrapper .container .play-video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.pricing {
  display: block;
  background-color: #f9f9ff;
  padding: 10rem 0;
}

.pricing header {
  text-align: center;
  max-width: 600px;
  margin: 0 auto 2rem;
}

.pricing header h2 {
  margin-bottom: 1rem;
  font-weight: 500;
}

.pricing .pricing__cards-wrapper {
  gap: 2rem;
  margin: 5rem 0;
}

.pricing .pricing__cards-wrapper .card__head {
  padding-bottom: 3rem;
  border-bottom: 1px solid #7d8083;
}

.pricing .pricing__cards-wrapper .card__head h3 {
  margin-bottom: 1rem;
}

.pricing .pricing__cards-wrapper .card__head span {
  font-size: 3.5rem;
  font-weight: normal;
}

.pricing .pricing__cards-wrapper .card__body {
  padding-top: 3rem;
  text-align: center;
}

.pricing .pricing__cards-wrapper .card__body ul {
  margin-bottom: 2rem;
}

.pricing .pricing__cards-wrapper .card__body ul li {
  font-weight: normal;
  margin-top: 0.5rem;
}

.screenshots {
  display: block;
  margin: 10rem 0;
}

.screenshots .screenshots__img__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.screenshots .screenshots__img__wrapper img {
  min-width: 200px;
}

.testimonial {
  display: block;
  padding: 10rem 0;
  background-color: #f9f9ff;
}

.testimonial__items__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.testimonial__items__wrapper .testimonial__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  min-width: 300px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: white;
  padding: 3rem;
}

.testimonial__items__wrapper .testimonial__item .item__content h3 {
  margin-top: 2rem;
}

.testimonial__items__wrapper .testimonial__item .item__img {
  margin-right: 3rem;
}

.download__app {
  display: block;
  margin: 10rem 0;
  padding: 10rem 0;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#5f55ea), to(#9646db));
  background: linear-gradient(to right, #5f55ea, #9646db);
}

.download__app .download__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.download__app .download__buttons button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  padding: 1rem 2rem;
}

.download__app .download__buttons button h4,
.download__app .download__buttons button h5 {
  font-weight: 500;
}

.download__app .download__buttons button img {
  width: 30px;
  margin-right: 1rem;
}

.news {
  display: block;
  margin-bottom: 10rem;
}

.news .news__articles__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news .news__articles__wrapper article {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 33.333%;
  min-width: 300px;
  background-color: #f9f9ff;
}

.news .news__articles__wrapper article span:first-child {
  display: inline-block;
  background-color: white;
  padding: 0.5rem 2rem;
  border: 1px solid #a0a3a7;
  color: #7d8083;
  margin-bottom: 2rem;
}

.news .news__articles__wrapper article h3 {
  margin-bottom: 2rem;
  font-weight: 500;
}

.news .news__articles__wrapper article p {
  margin-bottom: 2rem;
  color: #7d8083;
}

.news .news__articles__wrapper article .article__interaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #7d8083;
}

footer {
  background-color: #222222;
  padding: 10rem 0;
  color: white;
}

footer h3 {
  font-weight: normal;
  margin-bottom: 2rem;
}

footer .footer__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 45% 30%;
      grid-template-columns: 20% 45% 30%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer__wrapper .product li a {
  margin-top: 0.5rem;
}

footer .footer__wrapper .newsletter p {
  color: #7d8083;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

footer .footer__wrapper .newsletter .form {
  position: relative;
}

footer .footer__wrapper .newsletter input {
  width: 80%;
  height: 40px;
  border-radius: 25px;
  padding-left: 2rem;
}

footer .footer__wrapper .newsletter button {
  height: 100%;
  width: 30%;
  border-radius: 25px;
  background-image: -webkit-gradient(linear, left top, right top, from(#5f55ea), to(#9646db));
  background-image: linear-gradient(to right, #5f55ea, #9646db);
  position: absolute;
  right: 20%;
  color: white;
}

footer .footer__wrapper .instgram__feed .intgram__img__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  justify-items: stretch;
  gap: 1rem;
}

footer .footer__wrapper .instgram__feed .intgram__img__wrapper img {
  width: 80px;
}

footer .copy-right {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .copy-right i {
  font-size: 3rem;
  margin-right: 2rem;
}

footer .copy-right p {
  font-size: 1.4rem;
  letter-spacing: 1px;
}

@media (max-width: 800px) {
  footer {
    text-align: center;
  }
  footer .footer__wrapper {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
}

.container {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1.6rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.f-center {
  text-align: center;
  max-width: 600px;
  margin: 0 auto 5rem;
}

.f-center h2 {
  margin-bottom: 1rem;
  font-weight: 500;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 7.2rem;
}

.banner .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.banner .logo {
  width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner .logo img {
  max-width: 100%;
}

.banner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.banner a {
  color: white;
}
/*# sourceMappingURL=style.css.map */