.table-component-wrapper {
	* {
		font-size: $f-size-sm;
		color: $c-text;
	}
	> header {
		display: flex;
		justify-content: flex-start;
		// align-items: flex-start;
		flex-direction: row;
		flex-wrap: wrap;
		gap: rem(10px);
		box-shadow: none;
		padding: rem(8px) rem(20px);
		height: auto;
		& + div {
			overflow: initial;
		}
	}
	// .invoice-table-filters, .payouts-table-filters{
	// 	display: flex;
	// 	align-items: stretch;
	// 	gap: rem(8px);
	// 	.form-group{
	// 		min-width: 200px;
	// 	}
	// }
	.rdt_TableHeader {
		min-height: 0;
	}
	.rdt_TableBody {
		overflow-y: auto !important;
		max-height: initial;
	}
	.second-filters-row {
		width: 100%;
		display: block;
		display: flex;
		gap: 15px;
	}
	.vendors-filter,
	.totals-range-filter,
	.customers-filter,
	.date-picker-filter {
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
		width: 45%;
		.btn {
			color: white;
			margin-left: rem(15px);
			&:disabled {
				cursor: not-allowed;
			}
		}
		.form-group {
			width: 100%;
		}
	}

	.dropdown-menu {
		max-height: 400px;
		overflow-y: auto;
	}
	.dropdown-item {
		// padding: 0;
		&:active {
			.custome-checkbox {
				color: white;
			}
		}
		.custome-checkbox {
			margin: 0;
			// padding: rem(10px) 0;
			width: 100%;
			display: block;
			padding-top: rem(10px);
			padding-bottom: rem(10px);
		}
	}

	.table-search-box {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: rem(400px);
		padding-right: rem(50px);
		.form-group {
			width: 100%;
		}
		.form-group,
		.mb-2 {
			margin: 0 !important;
			img {
				opacity: 0.6;
				width: rem(16px);
				height: rem(16px);
			}
		}
		button {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}

	.form-group,
	.input-group {
		margin: 0 !important;
	}

	.table-search-box {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		.form-group,
		.mb-2 {
			margin: 0 !important;
			input {
				width: rem(400px);
			}
			img {
				opacity: 0.6;
				width: rem(16px);
				height: rem(16px);
			}
		}
		button {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}

	.rdt_TableRow {
		.table-row-actions {
			button {
				margin-left: rem(5px);
				opacity: 0;
				transition: 0.15s;
			}
		}
		&:hover {
			.table-row-actions {
				button {
					opacity: 1;
				}
			}
		}
	}

	// types of data in table rows
	.tr-name {
		display: block;
		h5 {
			font-size: rem(14px);
			margin: 0;
			small {
				display: block;
				margin-top: rem(8px);
				font-size: $f-size-sm;
				color: $c-text-subdued;
			}
		}
		&.tr-customer-info {
			padding: rem(10px) 0;
		}
	}
	.tr-logo {
		img {
			margin: rem(7px) 0;
			width: rem(50px);
			border-radius: rem(4px);
		}
		&.category-logo {
			img {
				margin: 0;
				width: rem(35px);
			}
		}
	}
	.tr-overdue-date {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: rem(8px) rem(12px);
		min-width: rem(40px);
		background-color: rgba($c-success, 0.4);
		border-radius: rem(8px);
		&.danger {
			background-color: rgba($c-danger, 0.4);
		}
	}
}

.tr-price {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid $c-white-overlay3;
	border-radius: 20px;
	padding: rem(4px) rem(12px);
	background-color: rgba($c-secondary-light, 0.03);
	span {
		margin-right: rem(4px);
		font-size: $f-size-xxs;
		color: $c-text-subdued;
		white-space: nowrap;
	}
	div {
		flex: 1;
		position: relative;
		padding-left: rem(8px);
		font-size: $f-size-sm;
		font-weight: $f-weight-normal;
		color: $c-secondary;
		white-space: nowrap;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			height: 75%;
			transform: translateY(-50%);
			width: 1px;
			background-color: $c-white-overlay5;
		}
	}
}

.selected-filters {
	display: flex;
	width: 100%;
	.single-filters-group {
		background-color: #e4e5e7;
		border-radius: rem(4px);
		margin-right: rem(10px);
		display: flex;
		.filter-value,
		.filter-label {
			padding: rem(4px) rem(5px);
		}
		.filter-value {
			text-transform: capitalize;
		}
		.remove-filter {
			position: relative;
			cursor: pointer;
			transition: 0.15s;
			width: rem(30px);
			border-radius: 0 rem(4px) rem(4px) 0;
			&:hover {
				background-color: darken(#e4e5e7, 10);
			}
			img {
				width: rem(12px);
				position: absolute;
				top: 50%;
				right: 50%;
				transform: translate(50%, -50%);
			}
		}
	}
}

// Enhance table loading
.sc-dmlrTW.kTAIKG > div {
	font-size: $f-size-lg !important;
	font-weight: $f-weight-normal !important;
	color: $c-text-subdued !important;
	padding: rem(20px) !important;
}
.hkdLvT {
	overflow-y: inherit !important;
}

@media screen and (max-width: 900px) {
	.table-component-wrapper header {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		.table-search-box {
			width: 100%;
			margin-bottom: rem(16px);
		}
	}
}
