.view-header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: rem(8px);
	max-width: 100%;
	&__back-btn {
		padding: rem(2px) rem(4px);
		margin-right: rem(24px);
		cursor: pointer;
		width: rem(40px);
		height: rem(32px);
		border-radius: rem(4px);
		border: 1px solid $c-white-overlay4;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: 80ms ease-in-out;
		&:hover{
			background-color: $c-white-overlay2;
		}
		img {
			width: rem(20px);
		}
	}
	&__title {
		display: flex;
		align-items: flex-start;
		flex: 1;
	}
	&__actions {
		display: flex;
		align-items: stretch;
		.btn {
			max-height: rem(36px);
		}
	}
	.dropdown-toggle::after{
		opacity: 0.6;
	}
	.btn{
		margin-left: rem(8px);
	}
	p {
		margin-top: rem(10px);
	}
	h1 {
		margin-right: rem(16px);
	}
	.status-indicator{
		white-space:initial;
		&:first-of-type{
			margin-left: 0;
		}
	}
}